@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html,
body {
  font-family: "Quicksand", sans-serif;
}


nav{
  display: flex;
  background-color: #1C2833;
  height: 80px;
  width: 100%;
  justify-content: space-between;
  padding: 0px 50px 0px 80px;
  align-items: center;
}


.logo{
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

nav ul{
  display: flex;
}

nav ul li{
  list-style: none;
  margin: 0 0.5rem;
}

nav ul li a{
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 800;
  color: white;
  padding: 0.7rem 0.7rem;
  border-radius: 3px;
  transition: 0.5s;
  text-transform: uppercase;
}

nav ul li a:hover,nav ul li a.active{
  background-color: #566573;
}

.menu-btn{
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  display: none;
}

#click{
  display: none;
}


/* Header start */
header{
  background-image: url('../images/banner.jpg');
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* main start */
.first-section{
  background-color: #16213E;
  padding-bottom: 5rem;
}

#service-parent{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 1100px;
  margin: 0 auto;
  gap: 1.3rem;
}

.single-service{
  background-color: white;
  text-align: center;
  color: black;
  padding: 2rem 1.4rem;
  border-radius: 0.6rem;
  border: 3px solid green;
  box-shadow: 5px 5px 10px gray;
}

.single-service i{
  font-size: 2.3rem;
}

.single-service h2{
  margin: 0.9rem 0;
  font-weight: bold;
}

.service-title{
  text-align: center;
  color: white;
  padding: 3rem 0;
  letter-spacing: 0.2em;
  font-size: 1.5rem;
}

/* Section section start */

#second-section{
  background-color: #154360;
  padding: 5rem 0;
}

#smart-parent{
  margin: 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.smart-text{
  color: white;
}

.smart-text h2{
  margin: 1.2rem 0;
  font-size: 1.4rem;
}

.smart-text a{
  text-decoration: none;
  font-size: 1.3rem;
  background-color: bisque;
  color: black;
  padding: 0.9rem 1.8rem;
  border-radius: 0.5rem;
  display: inline-block;
  margin-top: 2.4rem;
}

.smart-title{
  text-align: center;
  color: yellow;
  font-size: 2.2rem;
  letter-spacing: 0.1em;
  margin-bottom: 1.7rem;
}