@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html,
body {
  font-family: "Quicksand", sans-serif;
}

nav {
  display: flex;
  background-color: #1c2833;
  height: 80px;
  width: 100%;
  justify-content: space-between;
  padding: 0px 50px 0px 80px;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin: 0 0.5rem;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 800;
  color: white;
  padding: 0.7rem 0.7rem;
  border-radius: 3px;
  transition: 0.5s;
  text-transform: uppercase;
}

nav ul li a:hover,
nav ul li a.active {
  background-color: #566573;
}

.menu-btn {
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  display: none;
}

#click {
  display: none;
}

/* Header start */
header {
  background-image: url("../images/banner.jpg");
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* main start */
.first-section {
  background-color: #16213e;
  padding-bottom: 5rem;
}

#service-parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1100px;
  margin: 0 auto;
  gap: 1.3rem;
}

.single-service {
  background-color: white;
  text-align: center;
  color: black;
  padding: 2rem 1.4rem;
  border-radius: 0.6rem;
  border: 3px solid green;
  box-shadow: 5px 5px 20px gray;
}

.single-service i {
  font-size: 2.3rem;
}

.single-service h2 {
  margin: 0.9rem 0;
  font-weight: bold;
}

.service-title {
  text-align: center;
  color: white;
  padding: 3rem 0;
  letter-spacing: 0.2em;
  font-size: 1.5rem;
}

/* Section section start */

#second-section {
  background-color: #154360;
  padding: 5rem 0;
}

#smart-parent {
  margin: 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.smart-text {
  color: white;
}

.smart-text h2 {
  margin: 1.2rem 0;
  font-size: 1.4rem;
}

.smart-text a {
  text-decoration: none;
  font-size: 1.3rem;
  background-color: bisque;
  color: black;
  padding: 0.9rem 1.8rem;
  border-radius: 0.5rem;
  display: inline-block;
  margin-top: 2.4rem;
}

.smart-title {
  text-align: center;
  color: yellow;
  font-size: 2.2rem;
  letter-spacing: 0.1em;
  margin-bottom: 1.7rem;
}

/* Third section start */
#third-section {
  background-image: url("../images/about-section.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 6.4rem 0;
}

#about-parent {
  display: flex;
  margin: 0px 200px;
  justify-content: space-between;
  align-items: center;
  gap: 1.8rem;
  color: white;
}

.more-about-vanilla h4 {
  font-size: 1.3rem;
  margin-bottom: 1.2rem;
}

.more-about-vanilla ul {
  margin: 20px 0;
}

.more-about-vanilla a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 800;
  background: yellow;
  padding: 0.9rem 1.8rem;
  margin-top: 1.4rem;
  display: inline-block;
  border-radius: 5px;
  color: black;
}

#about-single-items-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
}

.about-single-items {
  background-color: #eaecee;
  color: black;
  padding: 2.8rem 1.2rem;
  border-radius: 0.7rem;
  text-align: center;
  border: 2px solid limegreen;
}

.about-single-items h4 {
  font-size: 1.2rem;
  padding: 0.9rem 0px 1rem 0px;
}

/* Fourth section start */

#fourth-section {
  background-color: #154360;
  padding: 5rem 0;
  color: white;
}

#advice-parent {
  display: flex;
  margin: 0 200px;
  gap: 3rem;
}

.advice-img-box img {
  width: 100%;
}

.single-advice p {
  margin: 1.2rem 0;
  line-height: 1.5;
  text-align: justify;
}

.single-advice h3 {
  font-size: 1.4rem;
  border-bottom: 2px solid red;
  padding-bottom: 1.2rem;
}

.single-advice h4 {
  font-size: 1.4rem;
  margin-top: 0.9rem;
}

.single-advice a {
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 0.9rem 1.8rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  display: inline-block;
  margin-top: 1.2rem;
}

.advice-icon {
  text-align: center;
}

.advice-icon a {
  margin: 0 0.7rem;
  border: 1px solid black;
  transition: 0.4s;
}

.single-advice a:hover {
  background-color: wheat;
}

/* contact section start */
#contact-section {
  background-image: linear-gradient(#3958a25e, #4089c7),
    url(../images/contact.jpg);
  background-size: cover;
  padding: 6rem 0;
  background-repeat: no-repeat;
  background-position: center;
}

form {
  background-color: #2e357a;
  max-width: 50%;
  margin: 0 auto;
  padding: 3.2rem 3.5rem;
  border: 6px solid #4497d3;
  border-radius: 0.9rem;
}
form h2 {
  color: white;
  text-align: center;
  font-size: 1.9rem;
  letter-spacing: 0.1em;
}

form p {
  color: white;
  text-align: center;
  margin: 1.8rem 0;
  letter-spacing: 0.1em;
}

.form-input {
  display: block;
  width: 100%;
  height: 2.3rem;
  margin: 3rem 0;
  border: none;
  background: none;
  color: white;
  border-bottom: 3px solid #4497d3;
  font-size: 1.1rem;
}

::placeholder {
  color: #4497d3;
  font-size: 1.1rem;
  font-weight: bold;
}

.submit {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  background: none;
  color: white;
  outline-style: ridge;
  cursor: pointer;
  transition: 0.5s;
}

.submit:hover {
  background-color: #16213e;
}

/* Match Project start */

.sixth-section {
  background-color: #07254f;
  color: white;
  padding: 4rem 0;
}

#match-parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 200px;
  margin-right: 200px;
  gap: 2.7rem;
}

.single-match {
  border: 4px solid #26528f;
  padding: 1.2rem;
}

.single-match i {
  font-size: 2.3rem;
  padding: 0px 1rem 0.8rem 1rem;
}

.single-match h5 {
  margin-bottom: 0.9rem;
}

.single-match p {
  color: #6d809c;
  font-size: 0.9rem;
}

.single-match:nth-child(2) {
  border: 4px solid white;
}

.first-single-match {
  line-height: 1.6;
  letter-spacing: 0.1em;
}

/* Seventh section start */
#seventh-section {
  padding: 4rem 0;
}

.takeCare-parent {
  display: flex;
  gap: 2rem;
  margin: 0px 200px;
  justify-content: space-between;
  align-items: center;
}

.single-takeCare-img {
  width: 100%;
}

.single-takeCare-img img {
  width: 100%;
}

.single-takeCare h3 {
  font-size: 1.9rem;
}

.single-takeCare p {
  margin: 1.2rem 0;
}

.single-takeCare ul {
  list-style: inside;
  margin: 0.7rem 0;
}

/* Footer */
footer {
  background-color: #154360;
  padding: 4rem 0 3rem 0;
}

#footer-parent {
  display: flex;
  justify-content: center;
  margin: 0 200px;
  gap: 4rem;
}

.single-footer {
  flex: 1;
  color: white;
}

.single-footer h5 {
  margin-bottom: 1.6rem;
  letter-spacing: 0.2rem;
}

.single-footer-two p {
  margin: 1rem;
}
.single-footer-two a {
  text-decoration: none;
  color: white;
}

.single-footer-two i {
  margin-right: 0.4rem;
}

.single-footer-three ul {
  display: flex;
}

.single-footer-three ul li {
  list-style: none;
}

.single-footer-three ul li a {
  text-decoration: none;
  color: white;
  margin: 0 5px;
  background-color: #0a273863;
  padding: 0.5rem;
}
